<!doctype html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/user_details.css">
    <link rel="stylesheet" href="/static/left_navigation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

    function showLoan() {
        var divloan = document.getElementById("division_loan")
        var divInvest = document.getElementById("division_invest")
        divloan.style.visibility = 'visible';
        divInvest.style.visibility = 'hidden';
    }

    function showInvest() {
        var divloan = document.getElementById("division_loan")
        var divInvest = document.getElementById("division_invest")
        divloan.style.visibility = 'hidden';
        divInvest.style.visibility = 'visible';
    }

    </script>
</head>
<body >

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" style="margin-top: 20px">
            <ul class="form">
                <li><a class="profile" href="javascript:showLoan();"><i class="icon-user"></i>Loan Adviser</a></li>
                <li><a class="settings" href="javascript:showInvest();"><i class="icon-cog"></i>Investment Adviser</a></li>
                <li><a class="logout" href="http://127.0.0.1:8000/home/"><i class="icon-signout"></i>Logout</a></li>
            </ul>
        </div>

        <div class="col-sm-6" id="division_loan" style="margin-top: 20px">

            <center> <div class="profile-card">
        <div class="profile-cover">
            <div class="profile-avatar">
                <div class="btns-container">
                    <div class="profile-links">
                        <a class="zoom-avatar" href="#"><img src="https://dl.dropboxusercontent.com/s/5liaxzvwbfuqzpo/zoom.png"></a>
                        <a class="read-more" href="#"><img src="https://dl.dropboxusercontent.com/s/62dfoo9h44o58lw/more.png"></a>
                        <a class="view-map" href="#"><img src="https://dl.dropboxusercontent.com/s/9ofmihok0h64lvn/location.png"></a>
                    </div>
                </div>
                <a href="#"><img src="https://dl.dropboxusercontent.com/s/7pcnqq18skh1myk/avatar.jpg" alt="Anis M" /></a>
            </div>
            <div class="profile-details">
                <h1>{{ user.customer_name }}</h1>
            </div>
        </div>
        <div class="profile-map" style="display: none;">
            <iframe width="100%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Saveology+New+York&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.052282,86.572266&amp;t=h&amp;ie=UTF8&amp;hq=Saveology&amp;hnear=New+York&amp;ll=40.552027,-74.420902&amp;spn=0.357117,0.912844&amp;iwloc=near&amp;output=embed"></iframe>
            <div class="clear"></div>
        </div>

        <center><div class="profile-content">
            <ul>
                <li>
                    <div class="digits">{{ acc_bal }}</div>
                    Account Balance
                </li>
                <li>
                    <div class="digits">{{ fixed_dep }}</div>
                    Fixed Deposit
                </li>
                <li>
                    <div class="digits">{{ active_loan }}</div>
                    Active Loan
                </li>
                <li>
                    <div class="digits">{{ refr }}</div>
                    Level of Refr
                </li>
                <li>
                    <div class="digits">{{ paid_loan }}</div>
                    Paid Loans
                </li>
            </ul>
            <div class="clear"></div>
        </div></center>

   </div> </center>
            <center><img src="../static/Graphs/{{ user.customer_id }}-loan_graph.png" alt="Graph"></center>

        </div>

        <div class="col-sm-6" id="division_invest" style="margin-top: 20px;visibility: hidden">

            <p>HELLO</p>

        </div>

    </div>
</div>

</body>
</html>